/*My Body Style Start*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("./src/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  height: 100vh;
}

/*My Body Style End*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 44px;
  width: 46px;
  margin-right: 5px;
}


.todo-container {
  max-width: 700px;
  margin: 20px auto;
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  background-position: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  border: 3px solid transparent;
  animation: borderChange 6s infinite linear;
  transition: box-shadow 0.3s ease;
}

.todo-container:hover {
  box-shadow: 0 0 30px rgba(100, 149, 237, 0.8);
}

@keyframes borderChange {
  0% {
    border-image: linear-gradient(
      90deg,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43
    );
    border-image-slice: 1;
  }
  10% {
    border-image: linear-gradient(
      90deg,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd
    );
    border-image-slice: 2;
  }
  20% {
    border-image: linear-gradient(
      90deg,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57
    );
    border-image-slice: 3;
  }
  30% {
    border-image: linear-gradient(
      90deg,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1
    );
    border-image-slice: 4;
  }
  40% {
    border-image: linear-gradient(
      90deg,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb
    );
    border-image-slice: 5;
  }
  50% {
    border-image: linear-gradient(
      90deg,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b
    );
    border-image-slice: 6;
  }
  60% {
    border-image: linear-gradient(
      90deg,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43
    );
    border-image-slice: 7;
  }
  70% {
    border-image: linear-gradient(
      90deg,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd
    );
    border-image-slice: 8;
  }
  80% {
    border-image: linear-gradient(
      90deg,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57
    );
    border-image-slice: 9;
  }
  90% {
    border-image: linear-gradient(
      90deg,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1
    );
    border-image-slice: 10;
  }
  100% {
    border-image: linear-gradient(
      90deg,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb
    );
    border-image-slice: 11;
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  position: relative;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, #ff6b6b, #48dbfb, #77b6e3, #9279ff, #ff6b6b);
  clip-path: inset(0 0 0 0);
  animation: gradientText 10s infinite linear;
}

@keyframes gradientText {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 0 0 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}



.form-container {
  padding: 20px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.task-form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 96%;
  margin-bottom: 15px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 17px;
  background: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
font-family: 'Times New Roman', Times, serif;
}

textarea {
  width: 96%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
  color: #fff;
  resize: none;
  background: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

input[type="text"]:hover,
textarea:hover {
  border-color: #f0f0f0;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #f0f0f0;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.add {
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-weight: 700;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.add::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: transform 0.6s ease-out;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

.add:active {
  transform: scale(0.95);
}

button {
  color: #fff;
  border: 2px solid;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background: rgb(255, 150, 255, 0.3);
  border-color: #f0f0f0;
  color: white;
  transition: box-shadow 0.3s ease;
  font-weight: 700;
}

#changeStatusButton {
  color: #fff;
  border: 2px solid;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background-color: red;
  width: 200px;
  text-align: center;
  border-color: #f0f0f0;
  color: white;
}

button:hover {
  box-shadow: 0 0 25px 5px rgba(25, 25, 255, 0.5);
}

/* My Sort Section SOrt Button Start */
.sort-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sort-section label {
  font-size: 18px;
  margin-right: 12px;
}

.sort-section select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  height: 40px;
  font-weight: 500;
  border: 1px solid #ccc;
  outline: none;
}

.sort-section select:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* Filter Buttons */
.filter-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.filter-btns button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btns button:last-child {
  margin-right: 0;
}

.filter-btns button:hover {
  background-color: #ccc;
  color: #000;
}

.filter-btns button:focus {
  background-color: #f0f0f0;
  color: #000;
}

/* To do container */
.todo-list-container {
  margin-top: 20px;
  padding: 0;
}

#taskList {
  list-style: none;
  padding: 0;
}

/* To-Do List Items */
.todo {
  background: rgb(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: borderChange 3s infinite linear;
}

.todo-item {
  flex: 1;
  font-size: 16px;
  color: #333;
  margin-right: 15px;
}

/* My edit */
.edi-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.stat {
  margin-right: 8px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#editTaskButton {
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-weight: 700;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 200px;
}

#editTaskButton:hover {
  box-shadow: 0 0 25px 5px rgba(25, 25, 255, 0.5);
}

.save {
  display: flex;
  justify-content: center;
}

/* My edit */

/* Buttons */
.todo button {
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 5px;
}

#changeStatusButton {
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 5px;
  background-color: red;
  width: 40px;
}

.complete-btn {
  background-color: red;
}

.trash-btn {
  background-color: rgba(255, 255, 0, 0.751);
}

.edit-btn {
  background-color: #007bff;
}

.todo-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.todo-item a:hover {
  text-decoration: dotted;
  text-decoration-color: white;
  text-decoration-line: underline;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

/* Details page style */
.todo-container-details {
  max-width: 700px;
  margin: 20px auto;
  border: 3px solid rgba(215, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  /* background:  url("./src/img/background.jpg"); */
  background-position: cover;
  font-family: "Poppins", sans-serif;
  animation: borderChange 7s infinite linear;
}

.details-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Добавлен верхний отступ для размещения кнопки Go to Home Page */
}

.toHome {
  background-color: rgba(138, 43, 226, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toHome:hover {
  background-color: rgba(138, 43, 226, 0.8); /* Изменение цвета при наведении */
}

span {
  color: white;
  font-weight: bold;
  font-size: 16px;
  /* font-family: 'Poppins', sans-serif; */
  margin-left: 10px;
}

.details {
  font-size: 19px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
p {
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
}

.edit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
